p {
    width: 400px;
    background-color: #efefef;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    border-left: solid 5px #e91e63 ;
}
p::before {
    content:  attr(data-person);
    position: absolute;
    padding: 20px;
    left: -120px;
    top: 0px;
    background-color: #dddddd;
}
p::after {
    content: "";
    position: absolute;
    border: 15px solid;
    border-color: transparent #e91e63 transparent transparent;
    left: -33px;
    top: 11px;
}
