* {
    font-family: sans-serif;
}
div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
p {
    font-weight: 600;
    margin-bottom: 25px;
}
.one {
    text-transform: uppercase;
}
.two {
    text-transform: capitalize;
}
.three{
    text-transform: lowercase;
}