div {
    width: 350px;
    height: 40px;
    background-color: #d4d4d4;
    margin: 20px auto; 
    padding: 16px 10px 0px;
    font-family: sans-serif;
    position: relative;
}
div::first-letter {
    content: "";
    background-color: #ff0000;
    color: white;
    padding: 5px;
    position: absolute;
    margin-left: -19px;

}