* {
    font-family: sans-serif;
}
p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    text-shadow: 
    2px 2px 0 #f44336,
    4px 4px 0 #2196f3,
    6px 6px 0 #9c27b0
    ;
}